.header {
  background-color: lightblue;
  padding: 5px 12px 5px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageContainer {
  position: relative;
  width: 120px;
  height: 68px;
  margin-left: 10px;
}
