.main {
  text-align: center;
}

.imageContainer {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 285px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}